.content {
  text-align: center;
  width: 80%; /* Largura do conteúdo principal */
  margin: 0 auto; /* Centraliza o conteúdo */
  background-color: #fff; /* Cor do fundo do conteúdo principal */
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para destacar o conteúdo */
  z-index: 1; /* Garante que o conteúdo principal esteja na frente das bordas laterais */
  height: 100vh; /* Altura total da janela */
}
.botao-link {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botao-link:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}
