<div class="backgroundGoat">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile rowspan="2" >
            <mat-card class="quadradoUm">
                <h1 style="background-color: lightslategray; border-radius: 10px; text-align:center; font-weight: bold; height:5%; display: flex; align-items: center; justify-content: center;">
                    Notificações
                </h1>
                <div style="overflow-y: auto; margin-left: 20px; font-size:18px;">
                    <div>
                        Pauta DSS
                    </div>
                </div>

            </mat-card> 
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="quadradoDois">
                <h1 style="background-color: lightslategray; border-radius: 10px; text-align:center; font-weight: bold; height:10%; display: flex; align-items: center; justify-content: center;">
                    Cadeiras
                </h1>
                <div style="overflow-y: auto; margin-left: 20px; font-weight: bold; color:royalblue; font-size:18px;">
                    <div>
                        CP
                    </div>
                    <br>
                    <div>
                        DSS
                    </div>
                    <br>
                    <div>
                        ESR
                    </div>
                </div>

            </mat-card> 
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="quadradoDois" style="top:-20px;">
                <h1 style="background-color: lightslategray; border-radius: 10px; text-align:center; font-weight: bold; height:10%; display: flex; align-items: center; justify-content: center;">
                    Calendário
                </h1>
                <div style="overflow-y: auto; margin-left: 20px; font-weight: bold; font-size:18px;">
                    <div>
                        Teste CP 05/01/2024
                    </div>
                    <br>
                    <div>
                        Teste ESR 08/01/2024
                    </div>
                </div>
                
            </mat-card> 
        </mat-grid-tile>
    </mat-grid-list>
</div>

  