<div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile rowspan="2" >
            <mat-card class="quadradoUm">
                <h1 style="background-color: lightgray; border-radius: 5px; text-align:center; font-weight: bold;">
                    Notificações
                </h1>
                <div style="overflow-y: auto;">
                    <div>
                        teste
                    </div>
                </div>

            </mat-card> 
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="quadradoDois">
                <h1 style="background-color: lightgray; border-radius: 5px; text-align:center; font-weight: bold;">
                    Cadeiras
                </h1>
                <div style="overflow-y: auto;">
                    <div>
                        CP
                    </div>
                </div>

            </mat-card> 
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="quadradoDois" style="top:-72px;">
                <h1 style="background-color: lightgray; border-radius: 5px; text-align:center; font-weight: bold;">
                    Outra coisa (Testes futuros?)
                </h1>
                <div style="overflow-y: auto;">
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                    <div>
                        sei la
                    </div>
                </div>
                
            </mat-card> 
        </mat-grid-tile>
    </mat-grid-list>
</div>

  