<div class="form">
  <mat-dialog-content class="password-dialog-content">
    <form #passwordForm="ngForm" class="password-form" fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Senha antiga</mat-label>
        <input matInput name="oldPassword" [type]="hide ? 'password' : 'text'" [(ngModel)]="oldPassword" required>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nova senha</mat-label>
        <input matInput name="newPassword" [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword" required>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <!-- Botões para Cancelar e Salvar -->
      <div mat-dialog-actions class="dialog-buttons">
        <button mat-button [mat-dialog-close]="false" class="cancel-button">Cancelar</button>
        <button mat-button (click)="savePassword()" [disabled]="passwordForm.invalid" class="save-button">Salvar</button>
      </div>
    </form>
  </mat-dialog-content>
</div>
