<p style="background-color: lightgray;">
    <mat-toolbar style="height: 64px;">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item>
          <mat-icon>face</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>how_to_reg</mat-icon>
          <span>Registar Aluno</span>
        </button>
        <button mat-menu-item>
          <mat-icon>add_circle</mat-icon>
          <span>Criar Prova</span>
        </button>
        <button mat-menu-item>
          <mat-icon>preview</mat-icon>
          <span>Provas</span>
        </button>
        <button mat-menu-item>
          <mat-icon>star</mat-icon>
          <span>Classificações</span>
        </button>
      </mat-menu>

      <span class="example-spacer"></span>
      <span>Probum-Docente</span>
      <span class="example-spacer"></span>
      
      <button mat-icon-button class="example-icon custom-button" aria-label="Example icon-button with share icon">
        <mat-icon>mark_email_unread</mat-icon> Editar
      </button>

      
    </mat-toolbar>
</p>


<p style="background-color: lightgray;">
  <mat-toolbar style="height: 64px;">
    <button mat-icon-button [matMenuTriggerFor]="menu_aluno" class="example-icon" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu_aluno="matMenu">

      <button mat-menu-item>
        <mat-icon>face</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>preview</mat-icon>
        <span>Provas</span>
      </button>
      <button mat-menu-item>
        <mat-icon>star</mat-icon>
        <span>Classificações</span>
      </button>
      
      <mat-menu #salas="matMenu">
        <button mat-menu-item>Consultar salas</button>
        <button mat-menu-item>Adicionar salas</button>
        <button mat-menu-item>Remover salas</button>
      </mat-menu>
    </mat-menu>



    <span class="example-spacer"></span>
    <span>Probum-Aluno</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon custom-button" aria-label="Example icon-button with share icon">
      <mat-icon>notifications</mat-icon> Editar
    </button>
  </mat-toolbar>
</p>


<p style="background-color: lightgray;">
  <mat-toolbar style="height: 64px;">
    <button mat-icon-button [matMenuTriggerFor]="menu_tecnico" class="example-icon" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu_tecnico="matMenu">

      <button mat-menu-item>
        <mat-icon>face</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>how_to_reg</mat-icon>
        <span>Registar Aluno</span>
      </button>
      <button mat-menu-item>
        <mat-icon>add_circle</mat-icon>
        <span>Criar Prova</span>
      </button>
      <button mat-menu-item>
        <mat-icon>preview</mat-icon>
        <span>Provas</span>
      </button>
      <button mat-menu-item>
        <mat-icon>star</mat-icon>
        <span>Classificações</span>
      </button>
      <button mat-menu-item  [matMenuTriggerFor]="salas">
        <mat-icon>dns</mat-icon>
        <span>Gerir salas</span>
      </button>
      
      <mat-menu #salas="matMenu">
        <button mat-menu-item>Consultar salas</button>
        <button mat-menu-item>Adicionar salas</button>
        <button mat-menu-item>Remover salas</button>
      </mat-menu>
    </mat-menu>

    <span class="example-spacer"></span>
    <span>Probum-Tecnico</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon custom-button" aria-label="Example icon-button with share icon">
      <mat-icon>campaign</mat-icon> Editar
    </button>
  </mat-toolbar>
</p>

<body >
    <div>
        <router-outlet></router-outlet>
        <!-- Other content goes here -->
    </div>
    <footer style="background-color: white;">
        <p style="background-color:white; display: flex; justify-content: center; align-items: center;">
        Probum &#64;2023
        </p>
        <br>
    </footer>
</body>

